name: Daily Update Job

on:
  schedule:
    - cron: '14 3 * * *'   # 每天 03:14（UTC）
  workflow_dispatch:  # 允许手动触发

permissions:
  contents: write

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install system packages
        run: |
          sudo apt-get update && \
          sudo apt-get install -y curl wget sed python3 python3-requests
      - name: Try update files
        run: |
          cd maintain_files/auto_update && \
          ./update_rules.sh
      - name: Commit changes
        run: |
          if git diff --quiet; then
            echo "No changes"
            exit 0
          fi

          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add .
          git commit -m "chore: scheduled update $(date +%Y-%m-%d)"
          git push